@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Manrope:wght@200..800&family=Noto+Serif+Georgian:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #e6e2e7;
    justify-content: center;
    align-items: center;
}

.mainBody {
    width: 70rem;

    display: flex;
    flex-direction: column;
    background-color: #fff;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 1rem;
}

img {
    width: 11.7rem;
    height: 11.7rem;
    border-radius: 5rem;
    border: 0.05rem black solid;
}

.wall {
    width: 1.3rem;
    height: 9.35rem;
    background-color: black;
}

.Header_Info {
    display: flex;
    font-family: Anton, sans-serif;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.name {
    font-size: 4.675rem;
    word-spacing: 3rem;
}

#name {
    background: linear-gradient(40deg, rgb(228, 76, 228) 30%, rgb(141, 141, 237) 70%);
    background-clip: text;
    color: transparent;
}

#prof {
    background: linear-gradient(40deg, red 30%, orange 70%);
    background-clip: text;
    color: transparent;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 0.1rem grey solid;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0rem;
    margin: 0rem;
}

p {
    font-size: 1.5rem;
    border-bottom: 0.1rem grey solid;
    padding: 0.2rem;
}

main {
    display: flex;

    border-top: 0.1rem grey solid;
    padding-left: 1rem;
    padding-right: 1rem;

}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 5rem;
}

article {
    width: 70%;
    border-left: 0.1rem grey solid;
    padding-left: 3rem;
}

.softLevel {
    width: 100%;
    height: 1.5rem;
    border-radius: 30rem;
    background: linear-gradient(20deg, rgb(180, 238, 204) 40%, rgb(159, 193, 236) 70%);
}

#Ilustrator {
    width: 80%;
}

#aftEff {
    width: 85%;
}

#Hotjar {
    width: 90%;
}

.Profile_p {
    font-size: 1.5rem;
    border-bottom: none;
}

.circle_div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.circle-wrap {
    width: 8.2rem;
    height: 8.2rem;
    background: #e6e2e7;
    border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 8.2rem;
    height: 8.2rem;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 8.2rem, 8.2rem, 4rem);
}

.circle-wrap-des .circle-des .mask-des {
    clip: rect(0px, 8.2rem, 8.2rem, 5rem);
}

.circle-wrap .circle .mask .fill {
    clip: rect(0rem, 8, 2rem, 8, 2rem, 0rem);
    background: linear-gradient(40deg, rgb(140, 245, 245) 30%, rgb(166, 248, 191) 70%);

}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(126deg);
}

.circle-wrap .inside-circle {
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    background: #fff;
    line-height: 6.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 1.5em;
}

.work{
display: flex;
gap: 1.5rem;
}
.year-div{
    display: flex;
    flex-direction: column;
    gap: 9rem;
}

.year {
    width: 5.6rem;
    height: 2rem  ;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: 800;
    gap: 15rem;
}

.line-circ-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1rem;
    
}
.margin {
    margin-top: 0.5rem;
}
.margin-zero{
    padding: 0rem;
    margin: 0rem;
}
.line_circ {
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 50%;
}

.line {
    border: 0.05rem black solid;
    height: 10rem;
    width: 0.05rem;
}

.workplaces {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    padding: 0rem;
    margin: 0rem;
}
